<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="vn.thanhpt.simple_paypal">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>

        <activity android:name=".MyPaymentsActivity"
            android:exported="true">
        </activity>

    </application>

</manifest>
